<p>Hello,</p>

<p>Please click the link below to begin your verification:</p>

<p>
  <a href="{email_page_link}">{email_page_link}</a>
</p>

<p>
  If the link does not open automatically, you can copy and paste it into your browser
  or into your compatible wallet application.
</p>

<p>
  In some wallets, you can also use this URI directly:<br />
  <code>{openid_vc_uri}</code>
</p>

<p>Best regards,<br/>The Wallet4Agent team.<br/>
<a href="https://wallet4agent.com/">https://wallet4agent.com/</a></p>
